$wrap_width: 100%;
$banner_height: 710px;
$de_color: #FF6600;
$ac_color: #FC0000;

// banner
#banner{
	width: $wrap_width;
	height: $banner_height;
	.container{
		position: relative;
		height: $banner_height;
		.banner_ul{
			position: absolute;
			left: -465px;
			top: 0;
			width: 1920px;
			height: $banner_height;
			
			li{
				width: $wrap_width;
				float: left;
				opacity: 0;
				display: none;
			}
			
			img{
				width: $wrap_width;
			}
			
			.banner_ac{
				display: block;
				opacity: 1;
			}
		}
		
		.index_ul{
			position: absolute;
			left: 50%;
			bottom: 5%;
			transform: translateX(-50%);
			li{
				margin-right: 8px;
				float: left;
				width: 14px;
				height: 14px;
				border-radius: 50%;
				background: #B5B5B5;
			}
			
			.index_ac{
				background: #C80002;
			}
		}
	}
}



