$wrap_width: 100%;
$top_bar_height: 25px;
$mid_bar_height: 76px;
$de_color: #FF6600;
$ac_color: #FC0000;
.container{
	margin: 0 auto;
	width: 990px;
}

#header{
	width: $wrap_width;
	.top_bar{
		width: $wrap_width;
		height: $top_bar_height;
		background: #eee;
		.container>ul{
			float: right;
			height: $top_bar_height;
			>li{
				float: left;
				height: $top_bar_height;
				padding-right: 5px;
				span{
					float: left;
					display: block;
					padding: 2px 20px;
					height: $top_bar_height - 5;
					line-height: $top_bar_height - 5;
					font-size: 12px;
					text-align: center;
					>a{
						color: $de_color;
						&:hover{
							color: $ac_color;
							text-decoration: underline;
						}
					}
				}
				
				>img{
					margin-top: 3px;
				}
			}
			
			.myscn{
				position: relative;
				&:hover .li_btn{
					position: relative;
					padding: 2px 19px;
					border: solid 1px #ccc;
					border-top: 0;
					border-bottom: 0;
					background: #fff;
					z-index: 2;
				}
				&:hover div{
					display: block;
				}
				.li_btn{
					display: block;
					height: $top_bar_height - 3;
					line-height: $top_bar_height - 5;
					
					&:after{
						content: "";
						position: absolute;
						top: 10px;
						right: 2px;
						border: solid 5px transparent;
						border-top: solid 5px #888;
					}
				}
				
				div{
					position: absolute;
					top: $top_bar_height;
					right: 0;
					width: 150px;
					background: #fff;
					border: solid 1px #CCCCCC;
					ul{
						width: $wrap_width;
						li{
							float: left;
							margin: 0 5%;
							width: 40%;
							height: $top_bar_height;
							line-height: $top_bar_height;
							text-align: center;
							border-bottom: dotted 1px #ccc;
							a:hover{
								text-decoration: underline;
								color: $ac_color;
							}
						}
					}
				}
				.hide{
					display: none;
				}
			}
			
			.phscn{
				@extend .myscn;
				i{
					position: absolute;
					left: 0;
					top: 5px;
					width: 14px;
					height: 14px;
					background: url(../images/icon_little.png) 390px 0px ;
				}
				div{
					width: 230px;
					img{
						float: left;
						margin: 10px;
					}
					img:last-child{
						margin-left: 0;
					}
				}
			}
		}
	}
	
	.middle_bar{
		width: $wrap_width;
		height: $mid_bar_height;
		.container>div{
			float: left;
		}
		
		.container>h1{
			float: left;
			margin-top: 6px;
		}
		
		
	}
}

 


