$wr_width: 100%;	
$picdiv_width: 430px;
#content{
	width: $wr_width;
	margin: 20px;
	
	.sp_pic{
		float: left;
		width: $picdiv_width;
		margin-right: 17px;
		>img{
			display: block;
			width: $picdiv_width;
			height: $picdiv_width;
		}
		>ul{
			width: $picdiv_width;
			height: 50px;
			li{
				position: relative;
				float: left;
				width: 45px;
				height: 35px;
				padding: 2px;
				margin-top: 3px;
				border: solid 1px #fff;
				>img{
					display: block;
					width: $wr_width;
					height: $wr_width;
				}
				
				&:hover{
					border: solid 1px #ff0000;
				}
			}
			
			.pic_ac{
				border: solid 1px #ff0000;
			}
		}
		
		.pic_share{
			width: $wr_width;
			height: 30px;
			margin-top: 20px;
			border-bottom: solid 1px #dedede;
			
			span{
				float: left;
				display: block;
				width: 60px;
				height: 20px;
				line-height: 20px;
				color: #aaa;
			}
			
			i{
				float: left;
				display: block;
				width: 25px;
				height: 16px;
				line-height: 16px;
				background: url(http://localhost:8080/images/share_icon.gif) no-repeat;
			}
			
		}
	}
	
	.sp_i{
		float: left;
		width: calc(100% - 447px);
		>h4{
			width: 435px;
			padding: 5px 0;
			font-size: 14px;
			font-weight: bold;
			color: #222;
			border-bottom: solid 1px #dedede;
		}
		>ul{
			width: $wr_width;
			li{
				height: 20px;
				line-height: 20px;
				
				>span{
					display: inline-block;
					height: 20px;
					line-height: 20px;
					color: #999;
				}
				
				.sp_i_info{
					font-size: 14px;
				}
				.sp_i_dp{
					font-size: 14px;
					text-decoration: line-through;
				}
				.sp_i_xs{
					font-size: 18px;
					font-weight: 900;
					color: #ff0000;
				}
				
			}
		}
	}
	
}